<% content_for :title do %>About<% end %>
<h2><strong>About Us</strong></h2>
<p>
  You are driving downtown in search of an open lot or unfilled ramp. You’re not late, but you might be soon. The closest lot is $6 an hour. Is that the best deal? Is it worth another lap? That coffee shop – will it be on the way to the meeting? Ten dollars for parking and a latte…or will you find parking a few blocks further?<br/><br/>
  Parking Lot Buddy (PLB) seeks to solve this and other problems for every urban parking situation. By providing a simple method to finding parking, PLB unlocks value for consumers, business owners and parking lot owners.<br/>
  <div style = "padding-left: 20px;">
     a. Trolling for parking takes 20 minutes on average.<br/>
     b. There are major occupancy issues with private lots and ramps.<br/>
     c. Private lots & surface lots have a hard time filling available spaces.<br/>
  </div>
  <h3 class="orange">How we solve it</h3>
  Parking spot availability – put it into our system and we act as a “lead generation” to your spaces.
  <h3 class="orange">What we use</h3>
  Crowdsource, public and private data<br/>
  We are providing a short cut in the consumers existing behavior, replacing mental maps with real ones, and cruising with choosing. Simply put, we “convert empty spaces into filled ones.”
  <h3 class="orange">Loyalty Program</h3>
  Submit available spaces through our mobile app, earn points and WIN BIG!!!
  <h3 class="orange">Social Sharing</h3>
  <span style="float:left"> Share your listings with friends on many social platforms.</span>
  <div class="row">
    <div class="col-xs-1">
      <%= image_tag("icon1.png")%>
    </div>
    <div class="col-xs-1">
      <%= image_tag("icon2.png")%>
    </div>
    <div class="col-xs-1">  
      <%= image_tag("icon3.png")%>
    </div>
  </div>
  <h3 class="orange">Sell Your Space</h3>
  This is a customized web platform that allows you to list and sell event space allowing you to make money right from your driveway. Live near a stadium or arena? Would you like to earn extra cash....then you’ve come to the right place. Payment Options.<br/><br/>
  <%= image_tag("pp.png",style: "margin-left: 1px;")%><br/>
  <strong>You’re #1 curated parking solution! Download the App today!</strong><br/><br/>
  <div class="row">
    <div class="col-lg-2">
      <%= image_tag("icon4.png")%>
    </div>
    <div class="col-lg-2">
      <%= image_tag("icon5.png")%>
    </div>
    <div class="col-lg-2">
      <%= image_tag("icon6.png")%>
    </div>
  </div>
  <br>
  <h3 class="orange">Disclaimer</h3>
  Please keep in mind that Parking Lot Buddy is not responsible for any thefts, vandalisms or any other criminal acts that may occur due to parking preferences. Parking Lot Buddy is strictly a broker of parking spaces.<br><br>

  1. Limitation of Liability. YOU UNDERSTAND AND AGREE THAT PARKING LOT BUDDY WILL NOT BE LIABLE TO YOU FOR ANY INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR EXEMPLARY DAMAGES, INCLUDING, BUT NOT LIMITED TO, DAMAGES FOR LOSS OF PROFITS, GOODWILL, USE, DATA OR OTHER INTANGIBLE LOSSES (EVEN IF A PARKING LOT BUDDY PARTY HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES), RESULTING FROM YOUR USE OR ACCESS OF, OR INABILITY TO USE OR ACCESS, THE SERVICE OR THE PARKING DATA.<br><br>

  2. Abusing Parking Lot Buddy. Please report problems, offensive content, and policy violations to us by sending us an email at info@parkinglotbuddy.com. We reserve the right, but have no obligation, to remove any User Content from the Service at any time in our discretion. In addition, without limiting other remedies, we may, in our sole discretion, limit, suspend, or terminate the Service and user accounts, prohibit access to the Service, and its content, delay or remove hosted content, and take technical and legal steps to keep users from using the Service, if we think that they are creating problems or possible legal liabilities, infringing the intellectual property rights of third parties, or acting inconsistently with the letter or spirit of our policies (for example, and without limitation, circumventing temporary or permanent suspensions or harassing our employees or other users).<br><br>

  3. Copyright Policy. Parking Lot Buddy respects the rights of content owners and asks that you do the same. You are responsible for any content that you make available through the Service. When sharing any content that is owned by third-parties, such as photographs, images, articles or links, you should credit the original source. Parking Lot Buddy is an internet service provider (ISP) and does not monitor the Site or other sharing tools for inappropriate or unlawful content.
</p>

