<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ip_location.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @ip_location.url %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @ip_location.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @ip_location.longitude %>
</p>

<%= link_to 'Edit', edit_ip_location_path(@ip_location) %> |
<%= link_to 'Back', ip_locations_path %>
